<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<link rel="icon" href="{{ .Site.BaseURL }}favicon.ico" type="image/x-icon">
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<div style="text-align: center;"><h1>Hiii, Let's Host This Tech!!</h1>
			<br>
			<p>📬 <i>mail@hostthis.tech</i></p>
			
			</div>
			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | .Page.RenderString }}</p>
					{{- end -}}
				</div>
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
					<time>{{ dateFormat ":date_medium" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
